@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color1: #05121d;
  --color2: #082032;
  --color3: #2c394b;
  --color4: #334756;
  --shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.35);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  height: 100vh;
  background-color: var(--color2);
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color1) var(--color2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--color2);
  border: 1px solid var(--color1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 6px;
}
