@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color1: #05121d;
  --color2: #082032;
  --color3: #2c394b;
  --color4: #334756;
  --shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  height: 100vh;
  background-color: var(--color2);
}

.button {
  --button-size-big: 80px;
  --button-size-small: 40px;
  height: var(--button-size-big);
  width: var(--button-size-big);
  border: none;
  background-color: var(--color2);
  border-radius: 100%;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
}

.smallButton {
  height: var(--button-size-small);
  width: var(--button-size-small);
}

.icon {
  font-size: 48px;
}

.smallIcon {
  font-size: 20px;
}

input[type="text"],
input[type="search"] {
  border: none;
  box-shadow: var(--shadow);
  height: 32px;
  background-color: var(--color3);
  border-radius: 28px;
  padding-inline: 10px;
}
