.Main {
  display: flex;
  overflow: hidden;
  width: 200%;
  height: calc(100vh - 195px);
  transition: margin 0.4s ease-in-out;
  background-color: var(--color2);
}

.offScreenLeft {
  margin-left: -100%;
}

@media (min-width: 960px) {
  .Main {
    width: 100%;
    height: calc(100vh - 141px);
  }

  .offScreenLeft {
    margin-left: 0;
  }
}
