.button {
  --button-size-big: 74px;
  --button-size-small: 44px;
  height: var(--button-size-big);
  width: var(--button-size-big);
  border: none;
  background-color: var(--color2);
  border-radius: 100%;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  transition: background-color 0.1s;
  cursor: pointer;
  position: relative;
}

.active {
  background-color: var(--color3);
}

.button:focus {
  outline: 3px solid var(--color3);
}

.button:active {
  background-color: var(--color3);
}

.smallButton {
  height: var(--button-size-small);
  width: var(--button-size-small);
}

.icon {
  font-size: 48px;
}

.smallIcon {
  font-size: 20px;
}

.textInput {
  border: none;
  box-shadow: var(--shadow);
  height: 44px;
  background-color: var(--color3);
  border-radius: 28px;
  padding-inline: 16px;
  font-size: 18px;
}
