.Navbar {
  height: 54px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  z-index: 6;
  box-shadow: var(--shadow);
}

.link {
  background-color: transparent;
  width: 20%;
  height: 80%;
  border-radius: 20px;
  box-shadow: none;
  /* padding-block: 10px;
  padding-inline: 40px;
  border-radius: 20px; */
}

.active {
  background-color: var(--color2);
  box-shadow: var(--shadow);
}
