.Player {
  position: fixed;
  bottom: 53px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--color1);
  padding-bottom: 23px;
  padding-top: 8px;
  height: 141px;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  z-index: 5;
}

.progressCounters {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-top: -12px;
  margin-bottom: -22px;
  font-size: 16px;
  user-select: none;
}

.progressCounters > * {
  color: var(--color4);
  font-weight: bold;
}

.mainControls {
  width: 85%;
  max-width: 480px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.buttonActive {
  background-color: var(--color4);
}

.repeatVal {
  position: absolute;
  font-weight: bold;
  height: 12px;
  width: 12px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.volumeControls {
  display: none;
}

@media (min-width: 960px) {
  .Player {
    bottom: 0;
  }
}
