.Player {
  position: fixed;
  bottom: -1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--color1);
  padding-bottom: 23px;
  padding-top: 8px;
  height: 118px;
  box-shadow: var(--shadow);
  z-index: 5;
}

.progressCounters {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-top: -4px;
  margin-bottom: -28px;
  font-size: 16px;
}

.progressCounters > * {
  color: var(--color4);
  font-weight: bold;
}

.mainControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeControls {
  display: none;
}
