.Playlist {
  width: 50%;
  overflow: auto;
  margin-top: 64px;
}

.titleBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color1);
  height: 64px;
  width: 100%;
  box-shadow: var(--shadow);
  padding-inline: 10px;
  z-index: 5;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  gap: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleName {
  font-size: 18px;
}

.titleChannel {
  color: var(--color4);
  font-weight: bold;
}

@media (min-width: 960px) {
  .titleBar {
    width: 50%;
  }
}
