.barContainer {
  width: 90%;
}

/*********** Baseline, reset styles ***********/
.progressBar {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
.progressBar:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.progressBar::-webkit-slider-runnable-track {
  background-color: var(--color2);
  border-radius: 0rem;
  height: 10px;
}

/* slider thumb */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: var(--color4);
  border-radius: 100%;
  height: 18px;
  width: 18px;
}

/*********** Firefox styles ***********/
/* slider track */
.progressBar::-moz-range-track {
  background-color: var(--color2);
  border-radius: 0rem;
  height: 10px;
}

/* slider thumb */
.progressBar::-moz-range-thumb {
  background-color: var(--color4);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 100%;
  height: 18px;
  width: 18px;
}
