.Video {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 64px;
  border-bottom: 1px solid var(--color1);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 0.1s;
  text-decoration: none;
  background-color: var(--color2);
}

.Video:hover {
  background-color: var(--color1);
}

.Video:active {
  background-color: var(--color3);
}

.thumbnailContainer {
  position: relative;
  height: 100%;
}

.Video img {
  height: 100%;
}

.playlistThumbnail {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding-inline: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  overflow: hidden;
  padding-right: 10px;
}

.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color4);
  font-weight: bold;
}

.playing {
  background-color: var(--color1);
}

.index {
  flex-shrink: 0;
  flex-grow: 0;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}
