.SearchBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  height: 64px;
  box-shadow: var(--shadow);
  padding-inline: 10px;
  z-index: 5;
  overflow: hidden;
}

.inputContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.searchInput {
  flex-grow: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--color2);
}

.searchInput:focus {
  outline: none;
  background-color: var(--color3);
}

.searchButton {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  flex-shrink: 0;
}
