.Video {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 64px;
  border-bottom: 1px solid var(--color1);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 0.1s;
}

.Video:hover {
  background-color: var(--color1);
}

.Video:active {
  background-color: var(--color3);
}

.Video img {
  height: 100%;
}

.info {
  overflow: hidden;
  padding-right: 10px;
}

.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color4);
  font-weight: bold;
}

.playing {
  background-color: var(--color1);
}
